/* ---- COLORS ---- */
/* -- #9c88ff; -- */
/* -- #c23616 -- */
/* -- #0097e6 -- */
/* -- #ECF0F1 -- */
/* -- #fbc531 -- */

body {
  font-family: "Roboto", sans-serif;
  color: #0097e6;
  font-weight: bold;
  background-color: #130f40;
  text-align: center;
}

h1 {
  color: #fbc531;
  text-transform: uppercase;
}

/* ---- INPUTS ---- */

input[type="checkbox"] {
  width: 25px;
  height: 25px;
  margin-right: 15px;
  background-color: #ecf0f1;
  border-radius: 10px;
}

input[type="checkbox"] + label {
  border-radius: 3px;
  padding: 10px 10px;
}

input[type="checkbox"]:checked + label.markTodo {
  color: #fbc531;
  text-decoration: line-through;
}

input[type="submit"] {
  background-color: #0097e6;
  text-transform: uppercase;
  border: none;
  color: #ecf0f1;
  padding: 13px 32px;
  margin-left: 10px;
  cursor: pointer;
}

/* ---- BUTTONS ---- */

.done-btn {
  color: #fff;
  background-color: gray;
  text-decoration: none;
  text-transform: uppercase;
  padding: 2px 5px;
}

.delete-btn {
  font-size: 17px;
  color: #ecf0f1;
  background-color: #c23616;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 20px;
  margin-left: 20px;
}
