/* ---- COLORS ---- */
/* -- #9c88ff; -- */
/* -- #c23616 -- */
/* -- #0097e6 -- */
/* -- #ECF0F1 -- */



body {
  font-family: "Roboto", sans-serif;
  background-color: #9c88ff;
}

/* ---- BUTTONS/INPUTS ---- */

input[type=checkbox]:checked + label.markTodo {
  color: #e84118;
  text-decoration: line-through;
}

input[type=submit] {
  background-color: #0097e6;
  text-transform: uppercase;
  border: none;
  color: #ECF0F1;
  padding: 13px 32px;
  margin-left: 10px;
  cursor: pointer;
}

.done-btn {
  color: #fff;
  background-color: gray;
  text-decoration: none;
  text-transform: uppercase;
  padding: 2px 5px;
}

.delete-btn {
  font-size: 17px;
  color: #ECF0F1;
  background-color: #c23616;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 20px;
  margin-left: 16px;
}
