/* ---- COLORS ---- */

/* -- #130f40 -- */
/* -- #ECF0F1 -- */
/* -- #FF6F61 -- */
/* -- #0097e6 -- */
/* -- #fbc531 -- */
/* -- #009B77 -- */
/* -- #2ecc71 -- */
/* -- rgb(228, 228, 194) -- */
/* -- #0072B5 -- */
/* -- #FF6F61 -- */

/* ---- GENERAL SETTINGS ---- */
body {
  font-family: "Sora", sans-serif;
  font-style: italic;
  color: #2ecc71;
  font-weight: bold;
  background-color: #130f40;
  text-align: center;
}

h1 {
  font-family: "Sora", sans-serif;
  font-style: normal;
  color: #fbc531;
  text-transform: uppercase;
  margin-bottom: 40px;
  border-bottom: 5px solid #009b77;
  text-align: center;
  width: 20%;
  margin-left: 35%;
}

/* ---- PLACEHOLDER ---- */

:placeholder-shown {
  height: 35px;
  background-color: rgb(228, 228, 194);
  border: 4px solid #009b77;
  border-radius: 7px;
}

/* ---- INPUT ---- */

input[type="submit"] {
  background-color: #009b77;
  text-transform: uppercase;
  border: none;
  color: #fbc531;
  padding: 13px 32px;
  margin-left: 20px;
  cursor: pointer;
}

/* ---- BUTTONS ---- */

.done-btn {
  font-size: 17px;
  color: #fff;
  background-color: #0072B5;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 20px;
  margin-left: 12px;
}

.delete-btn {
  font-size: 17px;
  color: #ecf0f1;
  background-color: #FF6F61;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 20px;
  margin-left: 15px;
}

.done {
  text-decoration: line-through;
  color: #0072B5;
}

.item {
  display: inline-block;
  font-weight: bold;
}