/* COLORS */

body {
  font-family: "Roboto", sans-serif;
}

.done-btn {
  color: #fff;
  background-color: gray;
  text-decoration: none;
  text-transform: uppercase;
  padding: 2px 5px;
}

.done {
  text-decoration: line-through;
}

.delete-btn {
  color: #fff;
  background-color: red;
  text-decoration: none;
  text-transform: uppercase;
  padding: 2px 5px;
}
